.navbar-main {
}

.mainbody-1 {
	padding-top: 128;
	padding-bottom: 128;
	padding-left: 32px;
	padding-right: 32px;
	background-color: #E9F2F9
}

.mainbody-1 h1 {
	font-size: 48px;
}

.mainbody-2 {
	color: white;
}

.mainbody-2a {
	/*background-color: #9CC4E4;*/
	background-color: #3A89C9;
	padding-top: 128px;
	padding-left: 24px;
	padding-right: 24px;
	padding-bottom: 128px;
}

.mainbody-2b {
	/*background-color: #3A89C9;*/
	background-color: #1B325F;
	padding-top: 128px;
	padding-bottom: 128px;
	padding-left: 24px;
	padding-right: 24px;
}

.mainbody-2c {
	/*background-color: #1B325F;*/
	background-color: #3A89C9;
	padding-top: 128px;
	padding-bottom: 128px;
	padding-left: 24px;
	padding-right: 24px;
}

.keyicon {
	font-size: 96px;
	padding-bottom: 24px;
}

.mainbody-3 {
	padding-top: 128px;
	padding-bottom: 128px;
	background-color: #E9F2F9;
}

.mainbody-4 {
	padding-top: 128px;
	padding-bottom: 128px;
	background-color: #9CC4E4;
}

.mainbody-5 {
	padding-top: 32px;
	padding-bottom: 32px;
	/*background-color: #E9F2F9;*/
}

.membercolumn {
	padding-top: 48px;
	padding-bottom: 48px;
}

.bodyhr {
	max-width: 60%;
	width: 60:%;
}

.mainbody-4 {
	padding-top: 128px;
	padding-bottom: 128px;
	background-color: #3A89C9;
	color: white;
	/*background-color: #F26C4F;*/
}

.profile {
	max-width: 175px;
	border-radius: 50%;
	height: auto;
	padding-top: 24px;
	padding-bottom: 24px;
}

.instruction {
	max-width: 350px;
	height: auto;
	padding-bottom: 24px;
}

.logo {
	max-width: 300px;
	height: auto;
}

.btn {
	background-color: #f5c60a !important;
	color: #000 !important;
	border: none !important;
	font-weight: bold !important;
}